/* FONT GOGGLE */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* HEADER MENU MOBILE VERSION */
@media screen and (max-width: 768px) {
  .header__menu {
    position: fixed;
    display: grid;
    width: 80%;
    height: 100%;
    top: 0;
    left: -100%;
    grid-template-rows: repeat(2, max-content);
    row-gap: 2rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 2px 0 8px rgba(22, 23, 24, 0.15);
    transition: 0.3s;
  }
}

.header__menu.show-menu {
  left: 0;
}
